*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rajdhani', sans-serif;
    /* background: rgb(0, 0, 24); */
    background: linear-gradient(50deg, #111111d9, #000);
    color: #fff;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    animation: moverArriba 1.5s ease-in ;
    text-align: center;
}

header{
    height: 100vh;
    background-image: url(../img/fondo);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(69, 91, 163, 0.542);
    background-blend-mode: soft-light;
    color: #fff;
}


.h1{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    animation: moverArriba 1.5s ease-in ;
}
#espan{
    color: rgb(255, 247, 0);
    text-decoration: none;
    text-align: center;
}


.subtitulo{
    color: rgb(255, 247, 0);
    text-align: center;
    animation: moverArriba 1s ease-in ;
    font-size: 30px;
    font-weight: 300;
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin: auto;
    padding-left: 20px;
    display: inline-block;
    animation: moverArriba 1.5s ease-in ;
}
nav a:hover{
    color:rgb(0, 174, 255);
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);;
    font-size: 50px;
}

.sick{
    width: 25%;
    margin-inline-start: 38%;
    animation: moverArriba 1s ease-in ;
}

/* información */

.detalle{
    text-align: center;
    /* display: inline-flex; */
    animation: moverArriba 1.5s ease-in ;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    animation: moverArriba 1.5s ease-in ;
    }
    
.container .box{
    position: relative;
    width: 350px;
    height: 500px;
    color: rgb(15, 15, 15);
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    animation: moverArriba 1s ease-in ;
    }
.container .box:hover{
    transform: translateY(-20px);
    }
.container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, #6200ff, #ff00bf);
    }
.container .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #8c00ff3f, #ff00ff);
    filter: blur(30px);
    }
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after{
    background: linear-gradient(360deg, #5cd3ab, #9aff27);
    }
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after{
    background: linear-gradient(180deg, #ff0303, #fffb00);
}
.container .box:nth-child(4)::before,
.container .box:nth-child(4)::after{                
    background: linear-gradient(180deg, #cebcbc, #8400ff);
}

.container .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    }
.container .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    }
.container .box .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    }
.container .box .content h2{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
    }
.container .box .content p{
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    line-height: 1.4em;
    text-align: center;
    }
.container .box .content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    }


.contenido{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
    animation: moverArriba 1.5s ease-in ;
    }
.contenido .caja{
    position: relative;
    width: 350px;
    height: 500px;
    color: rgb(15, 15, 15);
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
    animation: moverArriba 1s ease-in ;
    }
.contenido .caja:hover{
    transform: translateY(-20px);
    }
.contenido .caja::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, #fffb00, #33ff00);
    }
.contenido .caja::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fbff00, #73ff00cc);
    filter: blur(30px);
    }
.contenido .caja:nth-child(2)::before,
.contenido .caja:nth-child(2)::after{        
    background: linear-gradient(180deg, #804000ab, #c9c9c9c2);
}
.contenido .caja:nth-child(3)::before,
.contenido .caja:nth-child(3)::after{        
    background: linear-gradient(360deg, #ff0095, #0099ff);
}


.contenido .caja span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    }
.contenido .caja span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    }
.contenido .caja .content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    }
.contenido .caja .content h2{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-align: center;
    }
.contenido .caja .content p{
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    line-height: 1.4em;
    text-align: center;
    }
.contenido .caja .content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    }

.productos{
    text-align: center;
    animation: moverArriba 1s ease-in ;
}

.servicios{
    text-align: center;
    animation: moverArriba 1s ease-in ;
    }
        
.imagen_servicio{
    width: 100%;
    height: auto;
    }

.imagen_servicio_ref{    
    width: 88%;        
    height: auto;
    }

.imagen_servicio_cab{    
    width: 78%;        
    height: auto;
}

.imagen_servicio_ase{    
    width: 85%;        
    height: auto;    
}

button{
    cursor: pointer;
}

/* footer */

footer{
    background: #000;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon-1{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon-2{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon-1:hover{
    background: blue;
    color: #fff;
}
.social-media-icon-2:hover{
    background: #fff;
    color: rgb(218, 0, 116);
}

.social-media-icon-1 i{
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon-2 i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

@keyframes moverArriba{
    0%{
        opacity: 0;
        transform: translatey(150px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:900px){ 
    .h1{
        font-size: large;
        justify-content: space-evenly;
    }

    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        text-align: center;
        font-size: 18px;
    }

    .sick{
        width: 23%;
        padding-top: 0%;
        margin-inline-start: 38%;

    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 85%;
        margin-bottom: 40px;
    }
    
    .line{
        width: 70%;
        max-width: 800px;
        height: 2px;
        background: #fff;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:400px){
    .h1{
        width: 100vw;
        font-size: medium;
        justify-content: center;
    }

    .titulo{
        font-size: 30px;
    }
    
    .subtitulo{
        font-size: 20px;
    }

    .sick{
        width: 60%;
        padding-top: 0%;
        margin-inline-start: 20%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}